# dependencies
node_modules/

# expo
.expo/
.expo-shared/

# git
.git/

# editors
.vscode/
.idea/
*.iml

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# build artifacts
android/.gradle/
android/app/build/
android/build/
ios/Pods/
ios/build/
build/
dist/
coverage/
*.apk
*.aab
_eas/
